<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hecktelion : The Legacy - Index</title>
    <!-- CSS -->
    <link href="index/css/index.css" rel="stylesheet" />
    <!-- JS Lib -->
    <script src="../lib/jquery-1.10.2.js"></script>
    <!-- Scripts -->
    <script src="index/js/define.js"></script>
    <script src="index/js/random-bg.js"></script>
  </head>
  <body>
    <div id="background">
      <div id="title">
	<img height="146" width="1018" src="index/img/title.png"
	     alt="Hecktelion : The Legacy" />
      </div>
    </div>
  </body>
</html>
