<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hecktelion : The Legacy - Index</title>
    <!-- CSS -->
    <link href="index/css/index.css" rel="stylesheet" />
    <!-- UI -->
    <link href="../ui/jquery-ui.css" rel="stylesheet" />
    <link href="../ui/ui.css" rel="stylesheet" />
    <!-- JS Lib -->
    <script src="../lib/jquery-1.10.2.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <!-- Scripts -->
    <script src="index/js/define.js"></script>
    <script src="index/js/random-bg.js"></script>
  </head>
  <body>
    <div id="background">
      <div id="title">
	<img height="146" width="1018" src="index/img/title.png"
	     alt="Hecktelion : The Legacy" />
      </div>
      <div id="menu-bar">
	<div id="register-button" class="index-button">Sign-in</div>
	<div id="about-button" class="index-button">About</div>
      </div>
      <div id="menu-bar-2">
	<div id="forum-button" class="index-button">Forum</div>
	<div id="blog-button" class="index-button">Blog</div>
      </div>
      <div id="overlay" class="ui-widget-overlay ui-front"></div>
    </div>
  </body>
</html>
