<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hecktelion : The Legacy - Index</title>
    <!-- CSS -->
    <link href="index/css/index.css" rel="stylesheet" />
    <link href="index/css/menu-bar-button.css" rel="stylesheet" />
    <link href="index/css/login-dialog.css" rel="stylesheet" />
    <!-- UI -->
    <link href="../ui/jquery-ui.css" rel="stylesheet" />
    <link href="../ui/ui.css" rel="stylesheet" />
    <!-- JS Lib -->
    <script src="../lib/jquery-1.10.2.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/jquery.validate.min.js"></script>
    <script src="../lib/additional-methods.min.js"></script>
    <!-- Scripts -->
    <script src="index/js/define.js"></script>
    <script src="index/js/random-bg.js"></script>
    <script src="index/js/login-dialog.js"></script>
  </head>
  <body>
    <div id="background">
      <div id="title">
	<img height="146" width="1018" src="index/img/title.png" alt="Hecktelion : The Legacy" />
      </div>
      <div id="menu-bar">
	<div id="register-button" class="index-button">Register</div><br />
	<div id="about-button" class="index-button">About</div><br />
	<div id="forum-button" class="index-button">Forum</div><br />
	<div id="blog-button" class="index-button">Blog</div>
      </div>
      <div id="overlay" class="ui-widget-overlay ui-front"></div>
      <div id="login-dialog" title="Charon Penal Station - Identification System">
	<form id="login-form" action="/login" autocomplete="off">
	  <table>
	    <tr>
	      <td colspan="2">
		<div id="login-result"></div>
	      </td>
	    <tr>
	      <td colspan="2">
		<span>Access to penal file #T48-EW-X need a LVL7 Security ID</span>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<span class="label">Login</span><br />
		<input type="text" name="login" id="login" required/>
		<div class="error-msg">
		  <label for="login" class="error"></label>
		</div>
	      </td>
	      <td>
		<span class="label">Password</span><br />
		<input type="pwd" name="pwd" id="pwd" required/>
		<div class="error-msg">
		  <label for="pwd" class="error"></label>
		</div>
	    </tr>
	  </table>
	</form>
      </div>
    </div>
  </body>
</html>
