#login-dialog {
    text-align:		center;
    font-family:	Consolas;
    padding-top:	20px;
}

#login-dialog table {
    width:	100%;
}

#login-dialog input {
    width:		175px;
    border:		2px solid #fff;
    border-left:	5px solid #fff;
    height:		20px;
    padding:		3px;
    background-color:	#555;
    color:		#fff !important;
    font-size:		15px;
    font-family:	Consolas;
    padding-left:	8px;
    -webkit-box-shadow:	0 0 0px 1000px #555 inset;
}

#login-dialog input:hover, #login-dialog input:focus {
    border:		2px solid orange;
    border-left:	5px solid orange;
}

#login-dialog span {
    font-variant:	small-caps;
}

#login-dialog span.label {
    font-weight:	bold;
}

#login-result {
    width:	100%;
}

.login-c .ui-dialog-title {
    font-size:	18px !important;
}

.login-c {
    font-family:	Consolas !important;
    font-size:		15px !important;
    font-variant:	small-caps !important;
    text-align:		center !important;
}

.login-c .ui-button {
    font-size:		18px !important;
    font-family:	Consolas;
    font-variant:	small-caps;
    font-weight:	bold !important;
}

.login-c .ui-button:hover {
    color:		black !important;
}

#login-dialog .error-msg {
    height:	20px;
}

#login-dialog label.error {
    color:	red;
}

#login-dialog input.error {
    border-color: red;
}