#register-dialog {
    font-family:	Consolas;
    padding-top:	20px;
}

#register-dialog table {
    width:	100%;
}

#register-dialog input {
    border:		2px solid #fff;
    border-left:	5px solid #fff;
    height:		20px;
    padding:		3px;
    background-color:	#555;
    color:		#fff !important;
    font-size:		15px;
    font-family:	Consolas;
    padding-left:	8px;
}

.register-c .ui-dialog-title {
    font-size:	18px !important;
}

.register-c {
    font-family:	Consolas !important;
    font-size:		15px !important;
    font-variant:	small-caps !important;
}

.register-c .ui-button {
    font-size:		18px !important;
    font-family:	Consolas;
    font-variant:	small-caps;
    font-weight:	bold !important;
}

#register-dialog .error-msg {
    height:		20px;
    margin-left:	25px;
}

#register-dialog div .error {
    color:	red;
}

#register-dialog input.error {
    border-color:	red;
}

#register-dialog div .valid {
    color:		#66FF00;
    font-weight:	bold;
}

#register-dialog input.valid {
    border-color:	#66FF00;
}
